apiVersion: v2
name: jellystat
description: Custom helm wrapper for Jellystat Helm chart
dependencies:
  - name: jellystat
    # Version from https://github.com/truecharts/public/blob/master/charts/stable/jellystat/Chart.yaml
    version: "6.11.1"
    repository: oci://tccr.io/truecharts
  - name: common
    version: "0.0.1"
    repository: "file://../../library/common"
    import-values:
      - defaults
    # Other implicit dependencies are installed before this chart by fluxcd :
    # - external-secrets
    # - cloudnative-pg
version: 0.0.1
