---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: cert-manager
resources:
  - ./namespace.yaml
  - ./cert-manager/ks.yaml
  - ./cert-manager-csi-driver/ks.yaml
  - ./trust-manager/ks.yaml
transformers:
  - ./transformers
