oidc:
  url:
s3:
  secretName: opencloud-s3user
  bucketName: opencloud
  endpoint: "http://localhost:9000"
  customDomain: "localhost:9000/opencloud"

app:
  controllers:
    opencloud:
      annotations:
        reloader.stakater.com/auto: "true"
      pod:
        securityContext:
          runAsUser: 1000
          runAsGroup: 1000
          runAsNonRoot: true
          fsGroup: 1000
          fsGroupChangePolicy: OnRootMismatch

      containers:
        app:
          image:
            repository: opencloudeu/opencloud-rolling
            tag: 3.7.0@sha256:7bd41ba329a29869227804875f62cb59f23ed9178ae3b6be36f3a7f0e514077e
          command: [ "/bin/sh", "-c", "opencloud init || true; opencloud server" ]
          env:
            OC_INSECURE: true
            OC_URL: https://cloud.example.com
            OC_EXCLUDE_RUN_SERVICES: idp
            # OC_ADD_RUN_SERVICES: 

            PROXY_TLS: false
            PROXY_CSP_CONFIG_FILE_LOCATION: /etc/opencloud/csp.yaml

            GATEWAY_GRPC_ADDR: 0.0.0.0:9142
            OC_ENABLE_OCM: false

            # To override the admin password
            IDM_ADMIN_PASSWORD:
              valueFrom:
                secretKeyRef:
                  name: opencloud-admin-creds
                  key: password
            IDM_CREATE_DEMO_USERS: "false"

            # OIDC
            # OC_OIDC_ISSUER: # https://idm.${SECRET_DOMAIN}/oauth2/openid/${APP}
            # WEB_OPTION_ACCOUNT_EDIT_LINK_HREF: "https://idm.${SECRET_DOMAIN}/ui/profile"

            PROXY_ROLE_ASSIGNMENT_DRIVER: "oidc"
            PROXY_ACCESS_TOKEN_VERIFY_METHOD: "none"
            PROXY_AUTOPROVISION_ACCOUNTS: "true"
            # Map preferred_username idp attribute to local username attribute
            PROXY_AUTOPROVISION_CLAIM_USERNAME: "preferred_username" # sub
            PROXY_USER_OIDC_CLAIM: "preferred_username"
            PROXY_USER_CS3_CLAIM: username

            ## Group assignment
            PROXY_ROLE_ASSIGNMENT_OIDC_CLAIM: "groups"
            WEB_OIDC_SCOPE: "openid profile email groups"

            OC_OIDC_CLIENT_ID: # clientid
            # WEB_OIDC_CLIENT_ID: owncloud
            PROXY_OIDC_REWRITE_WELLKNOWN: "true"

            OC_ADMIN_USER_ID: ""
            SETTINGS_SETUP_DEFAULT_ASSIGNMENTS: "false"
            GRAPH_ASSIGN_DEFAULT_USER_ROLE: "false"
            GRAPH_USERNAME_MATCH: "none"
            PROXY_OIDC_ACCESS_TOKEN_VERIFY_METHOD: none

            # S3 storage
            STORAGE_USERS_DRIVER: decomposeds3
            STORAGE_SYSTEM_DRIVER: decomposed
            STORAGE_USERS_DECOMPOSEDS3_REGION: default
            # STORAGE_USERS_DECOMPOSEDS3_ENDPOINT: *s3endpoint
            # STORAGE_USERS_DECOMPOSEDS3_ACCESS_KEY:
            #   secretKeyRef:
            #     name: *s3SecretName
            #     key: accessKey
            # STORAGE_USERS_DECOMPOSEDS3_SECRET_KEY:
            #   secretKeyRef:
            #     name: *s3SecretName
            #     key: secretKey
            # STORAGE_USERS_DECOMPOSEDS3_BUCKET: *bucketName

            STORAGE_USERS_EVENTS_NUM_CONSUMERS: 5

          probes:
            liveness:
              enabled: true
            readiness:
              enabled: true
          resources:
            requests:
              cpu: 50m
              memory: 128Mi
            limits:
              memory: 1Gi
          securityContext:
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: true
            capabilities:
              drop:
                - ALL

  service:
    app:
      ports:
        http:
          port: 80
          targetPort: 9200

  # route:
  #   app:
  #     hostnames: [ "cloud.${SECRET_DOMAIN}" ]
  #     parentRefs:
  #       - name: external
  #         namespace: network
  #         sectionName: https
  #       - name: internal
  #         namespace: network
  #         sectionName: https
  #     rules:
  #       - backendRefs:
  #           - identifier: app
  #             port: 80

  persistence:
    config:
      type: configMap
      name: opencloud-config
      globalMounts:
        - path: /etc/opencloud/csp.yaml
          subPath: csp.yaml
        - path: /etc/opencloud/proxy.yaml
          subPath: proxy.yaml

    data:
      # existingClaim: opencloud-data
      # type: emptyDir
      storageClass: fastdata
      type: persistentVolumeClaim
      accessMode: ReadWriteOnce
      size: 1Gi
      globalMounts:
        - path: /var/lib/opencloud
          subPath: data
        - path: /etc/opencloud
          subPath: config
    tmpfs:
      type: emptyDir
      globalMounts:
        - path: /tmp
          subPath: tmp