---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/refs/heads/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: jellyfin
spec:
  releaseName: jellyfin
  dependsOn:
    - name: ${APP}-oidc
  chartRef:
    kind: OCIRepository
    name: jellyfin
  interval: 50m
  install:
    createNamespace: true
    remediation:
      retries: 3
  # Patch only when local dns is used
  # Using postRenderers instead of patches in kustomizations, as variable substitution is not performed already
  postRenderers:
    - kustomize:
        patches:
          - patch: |-
              - op: add
                path: /spec/template/spec/hostAliases
                value:
                  - ip: "${traefik_lb_ip}"
                    hostnames:
                    - "${auth_subdomain}.${main_domain}"
                    - "${second_domain}"
            target:
              kind: Deployment
              name: jellyfin
              namespace: media
              annotationSelector: homelab/use-local-dns=true

  # see https://github.com/truecharts/public/blob/master/charts/stable/jellyfin/values.yaml
  values:
    resources:
      requests:
        cpu: 100m
        memory: 400Mi
    securityContext:
      container:
        readOnlyRootFilesystem: false
        # runAsNonRoot: false
        runAsUser: 1000
        runAsGroup: 1000

    # affinity:
    #   nodeAffinity:
    #     requiredDuringSchedulingIgnoredDuringExecution:
    #       nodeSelectorTerms:
    #       - matchExpressions:
    #         - key: nvidia.com/gpu.present
    #           operator: In
    #           values: ["true"]

    containerOptions:
      NVIDIA_CAPS:
        - all
    workload:
      main:
        annotations:
          homelab/use-local-dns: ${quote}${patch_dns:=false}${quote}
        strategy: RollingUpdate
        rollingUpdate:
          maxUnavailable: 0
          maxSurge: 1
        podSpec:
          priorityClassName: ${gpu_runtime_class}
          runtimeClassName: ${gpu_runtime_class}
          containers:
            main:
              env:
                ## No need as it will be added automatically with resource requests
                # NVIDIA_DRIVER_CAPABILITIES: all
                # NVIDIA_VISIBLE_DEVICES: all
                JELLYFIN_LOG_DIR: /logs
                # JELLYFIN_DATA_DIR: /data
                # JELLYFIN_CONFIG_DIR: /config

    # /config/*.xml => pvc because config, maybe we switch to configmap but those files may need to be editable
    # /data => pvc for database (no nfs of course)
    # /data/metadata => nfs non-mirrored on ssd ? mainly image assets cache for studios/actors...
    persistence:
      config:
        enabled: true
        labels:
          homelab/backup-resource: "true"
        type: pvc
        size: 1Gi
        storageClass: ${fastdata_storage}
        mountPath: "/config" # all config (database.xml, system.xml...)
      data:
        enabled: true
        labels:
          homelab/backup-resource: "true"
        type: pvc
        size: 10Gi
        storageClass: ${fastdata_storage}
        mountPath: "/data" # config includes database, but also metadata
      cache:
        enabled: true
        mountPath: "/cache" # also include transcodes/
        type: "emptyDir"
      logs:
        enabled: true
        mountPath: "/logs"
        type: "emptyDir"
      # transcode:
      #   enabled: true
      #   mountPath: "/cache/transcodes"
      #   type: "emptyDir"
      media-1:
        enabled: true
        type: nfs
        server: ${nfs_server}
        path: ${nfs_path_media_1}
        mountPath: "/shared/media1/"
      media-2:
        enabled: true
        type: nfs
        server: ${nfs_server}
        path: ${nfs_path_media_2}
        mountPath: "/shared/media2/"
      media-3:
        enabled: true
        type: nfs
        server: ${nfs_server}
        path: ${nfs_path_media_3}
        mountPath: "/shared/media3/"
      media-4:
        enabled: true
        type: nfs
        server: ${nfs_server}
        path: ${nfs_path_media_4}
        mountPath: "/shared/media4/"
      media-5:
        enabled: true
        type: nfs
        server: ${nfs_server}
        path: ${nfs_path_media_5}
        mountPath: "/shared/media5/"
      media-6:
        enabled: true
        type: nfs
        server: ${nfs_server}
        path: ${nfs_path_media_6}
        mountPath: "/shared/music/"
