apiVersion: v2
name: gitea
description: Gitea Helm chart with additional resources
dependencies:
  - name: gitea
    version: &version "12.4.0"
    repository: https://dl.gitea.com/charts/
  - name: common
    version: "0.0.1"
    repository: "file://../../library/common"
    import-values:
      - defaults
    # Other implicit dependencies are installed before this chart by fluxcd :
    # - external-secrets
    # - cloudnative-pg
    # - s3-operator
    # - redis
    # - traefik
version: *version
