s3:
  secretName: &s3-secret gitea-s3user
  bucketName: &bucket gitea
  endpoint: &bucket-endpoint "localhost:9000"
  customDomain: &custom-domain "localhost:9000/gitea"

database:
  name: gitea
  user: gitea

redis:
  url: dragonfly-cluster.dragonfly.svc.cluster.local

ingress:
  domain: git.example.com
  externalUrl: https://git.example.com

gitea:
  resources:
    limits:
      cpu: 1000m
      memory: 512Mi
    requests:
      cpu: 100m
      memory: 512Mi

  gitea:
    metrics:
      enabled: true
      serviceMonitor:
        enabled: true
    additionalConfigSources:
      - configMap:
          name: gitea-app-ini
      # - secret:
      #     name: gitea-app-ini-secret

  # TODO : check signing (trust-manager ?)
  # https://gitea.com/gitea/helm-chart/#configure-commit-signing
  # signing:
  #   enable: true
  #   existingSecret: gitea-gpg-secret

  persistence:
    enabled: false

  # Disable embedded postgresql
  postgresql:
    enabled: false
  postgresql-ha:
    enabled: false
  # Disable embedded valkey
  valkey-cluster:
    enabled: false