apiVersion: v2
name: radarr
description: Custom helm wrapper for Radarr Helm chart
dependencies:
  - name: radarr
    # Version from https://github.com/truecharts/public/blob/master/charts/stable/radarr/Chart.yaml
    version: "25.5.4"
    repository: oci://oci.trueforge.org/truecharts
  - name: common
    version: "0.0.1"
    repository: "file://../../library/common"
    import-values:
      - defaults
    # Other implicit dependencies are installed before this chart by fluxcd :
    # - external-secrets
    # - cloudnative-pg
version: 0.0.1
