apiVersion: barmancloud.cnpg.io/v1
kind: ObjectStore
metadata:
  name: s3-backup
  namespace: {{ .Release.Namespace }}
spec:
  configuration:
    destinationPath: "s3://{{ .Values.s3.bucketName }}/"
    endpointURL: {{ .Values.s3.endpoint }}
    s3Credentials:
      accessKeyId:
        name: {{ .Values.s3.secretName }}
        key: accessKey
      secretAccessKey:
        name: {{ .Values.s3.secretName }}
        key: secretKey
    wal:
      compression: bzip2
      maxParallel: 8
      # encryption: AES256
    data:
      compression: bzip2
  # Retention policy looks to be working, but still track https://github.com/cloudnative-pg/cloudnative-pg/issues/3824
  retentionPolicy: "20d" # min 1d