apiVersion: external-secrets.io/v1
kind: ClusterSecretStore
metadata:
  name: external-secrets
spec:
  provider:
    kubernetes:
      remoteNamespace: external-secrets
      server:
        caProvider:
          type: ConfigMap
          name: kube-root-ca.crt
          namespace: external-secrets
          key: ca.crt
      auth:
        serviceAccount:
          name: external-secrets-kubernetes-ns
          namespace: external-secrets