# See https://cloudnative-pg.io/documentation/1.19/samples/cluster-example-full.yaml
# See https://cloudnative-pg.io/documentation/1.19/samples/
apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: {{ .Values.database.postgres.clusterName }}
  namespace: {{ .Release.Namespace }}
  annotations:
    cnpg.io/skipEmptyWalArchiveCheck: enabled
spec:
  instances: 3
  primaryUpdateStrategy: unsupervised

  imageName: ghcr.io/cloudnative-pg/postgresql:18.0-standard-trixie@sha256:e49b9c7942d794dea5979a1b9ca2e4bff418ee96e060f67660150b05ea169e28

  enableSuperuserAccess: true
  superuserSecret:
    name: psql-admin-secret

  # bootstrap:
  #   initdb:
  #     database: psql # Dummy
  #     owner: psql # should be the same in the secret
  #     secret:
  #       name: authentik-psql-secret

  affinity:
    enablePodAntiAffinity: {{ .Values.database.enableAntiAffinity }}

  postgresql:
    # Quorum based synchronous replication
    # https://cloudnative-pg.io/documentation/current/replication/#synchronous-replication
    synchronous:
      method: any
      number: 1
      dataDurability: required
    parameters:
      wal_keep_size: "128MB" 
      max_slot_wal_keep_size: "128MB"
      max_connections: "100"
      shared_buffers: "128MB"
      hot_standby_feedback: "on"
    
    shared_preload_libraries:
      - "vchord.so"
    
    extensions:
      - name: vchord
        image:
          reference: ghcr.io/tensorchord/vchord-scratch:pg18-v0.5.3@sha256:c310ede47f7f82bd257c3e53806d60680d5899c318ca946fb313efad9a90a78e 
        dynamic_library_path:
          - /usr/lib/postgresql/18/lib
        extension_control_path:
          - /usr/share/postgresql/18/

  plugins:
  - name: barman-cloud.cloudnative-pg.io
    isWALArchiver: true
    parameters:
      barmanObjectName: s3-backup # Ref to the ObjectStore resource

  # Restore section added in restore script
  # bootstrap:
  #   recovery:
  #     source: psql-cluster-backup

  # externalClusters:
  # - name: psql-cluster-backup
  #   plugin:
  #     name: barman-cloud.cloudnative-pg.io
  #     parameters:
  #       barmanObjectName: s3-backup
  #       serverName: psql-cluster

  managed:
    services:
      # No need since our database is 
      disabledDefaultServices: ["ro", "r"]
      # Fixed service for application database connection
      # so that if we change the cluster name when restoring they can still connect
      additional:
        - selectorType: rw
          serviceTemplate:
            metadata:
              name: "postgres-db-rw"
            spec:
              type: ClusterIP

    roles:
      {{- range $user := .Values.database.users }}
      - name: {{ $user }}
        ensure: present
        comment: {{ $user }} database user
        login: true
        superuser: false
        passwordSecret:
          name:  {{ include "common.db.secret-name" (dict "DatabaseUser" $user) }}
      {{- end }}
  
  monitoring:
    enablePodMonitor: true

  # Disable resources requests/limits as when restoring it can conflict and pod can not be scheduled
  # resources:
  #   requests:
  #     memory: 512Mi
  #     cpu: 256m
  #   limits:
  #     memory: 1Gi
  #     cpu: 1

  # Require 1Gi of space
  storage:
    size: {{ .Values.storage.size }}
    pvcTemplate:
      accessModes:
        - ReadWriteOnce
      resources:
        requests:
          storage: {{ .Values.storage.size }}
      storageClassName: {{ .Values.storage.persistentClassName }}
      volumeMode: Filesystem
