apiVersion: v2
name: jellyseerr
description: Custom helm wrapper for Jellyseerr Helm chart
dependencies:
  - name: jellyseerr
    # Version from https://github.com/truecharts/public/blob/master/charts/stable/jellyseerr/Chart.yaml
    version: "13.11.1"
    repository: oci://tccr.io/truecharts
  - name: common
    version: "0.0.1"
    repository: "file://../../library/common"
    import-values:
      - defaults
    # Other implicit dependencies are installed before this chart by fluxcd :
    # - external-secrets
    # - cloudnative-pg
version: 0.0.1
