namespaces:
  postgresNamespace: &psqlNs postgres

external:
  jellyseerr:
    apiKey: # Completed by FluxCD
  sonarr:
    hostname:
    externalUrl:
    apiKey: # Completed by FluxCD
  radarr:
    hostname:
    externalUrl:
    apiKey: # Completed by FluxCD
  radarr4k:
    hostname:
    externalUrl:
    apiKey: # Completed by FluxCD
  jellyfin:
    hostname:
    externalHostname:    
    apiKey:

ingress:
  domain: jellyseerr.example.com

jellyseerr:
  # see https://github.com/truecharts/public/blob/master/charts/stable/jellyseerr/values.yaml
  # see documentation https://truecharts.org/charts/stable/jellyseerr/
  waitPsqlImage:
    repository: docker.io/library/busybox
    tag: latest
    pullPolicy: IfNotPresent
  jqImage:
    repository: docker.io/badouralix/curl-jq
    tag: latest
    pullPolicy: IfNotPresent

  resources:
    limits:
      cpu: 500m
      memory: 500Mi
    requests:
      cpu: 20m
      memory: 200Mi
  workload:
    main:
      annotations:
        # Reload pod on secret/cm change
        reloader.stakater.com/auto: "true"
      podSpec:
        initContainers:
          waitpsql:
            enabled: true
            type: init
            imageSelector: waitPsqlImage
            command: ['sh', '-c', 'until nc -vz ${POD_NAME}.${POD_NAMESPACE}.svc.cluster.local 5432; do echo "Waiting for postgres..."; sleep 3; done;']
            env:
              POD_NAME: postgres-db-rw # service name for psql rw operations
              POD_NAMESPACE: *psqlNs
          mergeconfig:
            enabled: true
            type: init
            imageSelector: jqImage
            command: ['sh', '-c', '/shared/scripts/merge-config.sh']
        containers:
          main:
            env:
              # User Defined
              # JELLYFIN_TYPE: ""
              LOG_LEVEL: "debug" # "info"

              DB_TYPE: "postgres" # Which DB engine to use, either "sqlite" or "postgres". The default is "sqlite".
              DB_HOST: "postgres-db-rw.postgres.svc.cluster.local" # (optional) The host (URL) of the database. The default is "localhost".
              DB_PORT: "5432" # (optional) The port to connect to. The default is "5432".
              DB_USER: "jellyseerr" # (required) Username used to connect to the database.
              DB_PASS: # (required) Password of the user used to connect to the database.
                secretKeyRef:
                  name: jellyseerr-db-creds
                  key: password
                  expandObjectName: false
              DB_NAME: "jellyseerr" # (optional) The name of the database to connect to. The default is "jellyseerr".
              DB_LOG_QUERIES: "false" # (optional) Whether to log the DB queries for debugging. The default is "false".

  persistence:
    config:
      enabled: true
      type: pvc
      size: 1Gi # Should be enough
      storageClass: default
      targetSelector:
        main:
          mergeconfig:
            mountPath: /app/config
          main:
            mountPath: /app/config

    copyconfig:
      enabled: true
      type: secret
      readOnly: false
      defaultMode: "0777"
      objectName: jellyseerr-config
      expandObjectName: false
      targetSelector:
        main:
          mergeconfig:
            mountPath: /shared/config/settings.json
            subPath: settings.json
    copyconfig-script:
      enabled: true
      type: configmap
      readOnly: false
      defaultMode: "0777"
      objectName: jellyseerr-config-script
      expandObjectName: false
      targetSelector:
        main:
          mergeconfig:
            mountPath: /shared/scripts/merge-config.sh
            subPath: merge-config.sh

    # logs:
    #   enabled: true
    #   type: emptyDir
    #   targetSelector:
    #     main:
    #       main:
    #         mountPath: /app/config/logs
