{{- $serviceName := "tachi"}}
apiVersion: v1
kind: Service
metadata:
  name: {{ $serviceName }}
  namespace: {{ .Release.Namespace }}
spec:
  ports:
    - name: frontend
      port: 3000
      targetPort: 10895
      protocol: TCP
    - name: backend
      port: 8080
      targetPort: 10896
      protocol: TCP
---
apiVersion: discovery.k8s.io/v1
kind: EndpointSlice
metadata:
  name: {{ $serviceName }}-endpoint
  namespace: {{ .Release.Namespace }}
  labels:
    kubernetes.io/service-name: {{ $serviceName }}
    endpointslice.kubernetes.io/managed-by: legacy-vm
addressType: IPv4
endpoints:
  - addresses:
      - {{ .Values.legacyVmIp }}
    conditions:
      ready: true
ports:
  - name: frontend
    port: 10895
    protocol: TCP
  - name: backend
    port: 10896
    protocol: TCP
---
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: {{ $serviceName }}-frontend
  namespace: {{ .Release.Namespace }}
spec:
  parentRefs:
    - name: traefik-gateway
      namespace: ingress
      sectionName: "websecure"
      kind: Gateway

  hostnames:
    - "xn--sck3h9451a.{{ .Values.ingress.otoge.domain }}"

  rules:
    - matches:
      - path:
          type: PathPrefix
          value: /

      backendRefs:
      - name: {{ $serviceName }}
        port: 3000
---
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: {{ $serviceName }}-server
  namespace: {{ .Release.Namespace }}
spec:
  parentRefs:
    - name: traefik-gateway
      namespace: ingress
      sectionName: "websecure"
      kind: Gateway

  hostnames:
    - "xn--sck3h9451a.{{ .Values.ingress.otoge.domain }}"

  rules:
    - matches:
      - path:
          type: PathPrefix
          value: /api
      - path:
          type: PathPrefix
          value: /ir

      backendRefs:
      - name: {{ $serviceName }}
        port: 8080