apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: minio-oidc
  namespace: services
spec:
  releaseName: minio-oidc
  dependsOn:
    - name: authentik
      namespace: authentik
  chart:
    spec:
      chart: authentik-application
      # renovate: datasource=docker depName=authentik-application registryUrl=oci://codeberg.org/wrenix/helm-charts
      version: "0.4.9"
      sourceRef:
        kind: HelmRepository
        name: wrenix
        namespace: flux-system
  interval: 50m
  install:
    createNamespace: true
    remediation:
      retries: 3
  values:
    # From https://codeberg.org/wrenix/helm-charts/src/branch/main/authentik-application/values.yaml
    blueprint:
      authentik:
        domain: "https://s3.${main_domain_websecure}"
      provider:
        enabled: true
        name: "MinIO"
        type: "oidc"
        oidc:
          clientType: "confidential"
          # clientID:
          # clientSecret:
          redirectURL: "https://s3.${main_domain_websecure}/oauth_callback"
          signingKey: "namespace_authentik.secret_authentik-cert-tls.tls"
          tokenDuration: "minutes=5"
          # Data from https://github.com/goauthentik/authentik/blob/main/blueprints/system/providers-oauth2.yaml
          scopes:
            - name: "authentik default OAuth Mapping: OpenID 'openid'"
            - name: "authentik default OAuth Mapping: OpenID 'email'"
            - name: "authentik default OAuth Mapping: OpenID 'profile'"
            - name: "MinIO groups"
              scope_name: "minio"
              # Scope mapping to auto assign policies to users
              expression: |
                if ak_is_group_member(request.user, name="authentik Admins"):
                  return {
                      "policy": "consoleAdmin",
                  }
                elif ak_is_group_member(request.user, name="Tech"):
                  return {
                      "policy": ["readwrite"]
                  }
                return None
      application:
        name: "MinIO"
        slug: "minio"
        group: "Services"
        launchURL: "https://s3.${main_domain_websecure}"
        openInNewTab: false
        icon: ""
        description: "External S3 storage"
        # publisher: "Publisher"
        bindPolicyID:
        policyEngineMode: "any"
      groups:
        - slug: "app: minio"
          bindID: "ad1a0614-c9df-4d21-b41b-6b4c27e0a4b6" # arbitrary uuid

      
