---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/refs/heads/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: prowlarr
spec:
  releaseName: prowlarr
  dependsOn:
    - name: ${APP}-proxy
  chartRef:
    kind: OCIRepository
    name: prowlarr
  interval: 50m
  install:
    createNamespace: true
    remediation:
      retries: 3
  # see https://github.com/truecharts/public/blob/master/charts/stable/prowlarr/values.yaml
  # see documentation https://truecharts.org/charts/stable/prowlarr/
  values:
    waitPsqlImage:
      repository: docker.io/library/busybox
      tag: latest
      pullPolicy: IfNotPresent
    resources:
      limits:
        cpu: 500m
        memory: 250Mi
      requests:
        cpu: 20m
        memory: 100Mi
    workload:
      main:
        strategy: RollingUpdate
        rollingUpdate:
          maxUnavailable: 0
          maxSurge: 1
        annotations:
          # Reload pod on secret change
          # secret.reloader.stakater.com/reload: "prowlarr-psql-secret" 
        podSpec:
          initContainers:
            waitpsql:
              enabled: true
              type: init
              imageSelector: waitPsqlImage
              command: ['sh', '-c', 'until nc -vz $${POD_NAME}.$${POD_NAMESPACE}.svc.cluster.local 5432; do echo "Waiting for postgres..."; sleep 3; done;']
              env:
                POD_NAME: postgres-db-rw # service name for psql rw operations
                POD_NAMESPACE: ${psql_database_namespace}
          containers:
            main:
              env:
                PROWLARR__AUTH__APIKEY:
                  secretKeyRef:
                    name: ${SECRET_KEY_NAME}
                    key: secretKey
                    expandObjectName: false
                PROWLARR__AUTH__METHOD: External
                PROWLARR__APP__INSTANCENAME: Prowlarr
                PROWLARR__APP__THEME: dark
                PROWLARR__AUTH__REQUIRED: DisabledForLocalAddresses
                PROWLARR__LOG__LEVEL: info
                PROWLARR__UPDATE__BRANCH: develop
                PROWLARR__POSTGRES__HOST: postgres-db-rw.${psql_database_namespace}.svc.cluster.local
                PROWLARR__POSTGRES__PORT: "5432"
                PROWLARR__POSTGRES__USER: ${PSQL_DB_USER}
                PROWLARR__POSTGRES__PASSWORD:
                  secretKeyRef:
                    name: ${APP}-db-creds
                    key: password
                    expandObjectName: false
                PROWLARR__POSTGRES__MAINDB: ${PSQL_DB_NAME}
                PROWLARR__POSTGRES__LOGDB: ${PSQL_LOG_DB_NAME}
            exportarr:
              env:
                API_KEY:
                  secretKeyRef:
                    name: ${SECRET_KEY_NAME}
                    key: secretKey
                    expandObjectName: false
    persistence:
      config:
        enabled: true
        type: emptyDir
    configmap:
      dashboard:
        enabled: true
        labels:
          grafana_dashboard: "1"
        data:
          prowlarr.json: >-
            {{ .Files.Get "dashboard.json" }}

    metrics:
      main:
        enabled: true