apiVersion: v2
name: crowdsec
description: Custom helm wrapper for Crowdsec Helm chart
dependencies:
  - name: crowdsec
    version: "0.20.0"
    repository: https://crowdsecurity.github.io/helm-charts
  - name: common
    # renovate: datasource=local-dependency
    version: "0.0.1"
    repository: "file://../../library/common"
    import-values:
      - defaults
    # Other implicit dependencies are installed before this chart by fluxcd :
    # - external-secrets
    # - cloudnative-pg
version: 0.0.1