database:
  user: &db_user crowdsec
  name: &db_name crowdsec

backupLabel:
  homelab/backup-resource: "true"

crowdsec:
  # https://github.com/crowdsecurity/helm-charts/blob/main/charts/crowdsec/values.yaml
  container_runtime: containerd

  tls:
    enabled: false

  agent:
    # we are not setting up traefik but the acquisition section is required.
    acquisition:
      - namespace: traefik
        podName: traefik-*
        program: traefik
    env:
    - name: DISABLE_ONLINE_API
      value: "true"
    - name: PARSERS
      value: "crowdsecurity/cri-logs"
    - name: COLLECTIONS
      value: "crowdsecurity/traefik"
    # When testing, allow bans on private networks
    # - name: DISABLE_PARSERS
    #   value: "crowdsecurity/whitelists"
    persistentVolume:
      config:
        enabled: false

  lapi:
    replicas: 2
    # extraSecrets:
    #   dbPassword: "secretpassword"
    storeCAPICredentialsInSecret: false

    secrets:
      csLapiSecret: # Filled by fluxcd
    persistentVolume:
      config:
        enabled: false
      data:
        enabled: false

    env:
      ## Auto enroll traefik with this key
      - name: BOUNCER_KEY_traefik
        valueFrom:
          secretKeyRef:
            name: crowdsec-lapi-secrets
            key: csLapiSecret
      # - name: ENROLL_INSTANCE_NAME
      #   value: "k8s-cluster"
      # - name: ENROLL_TAGS
      #   value: "k8s linux"
      - name: DISABLE_ONLINE_API
        value: "true"
      - name: DB_NAME
        value: *db_name
      - name: DB_USER
        value: *db_user
      - name: DB_PASSWORD
        valueFrom:
          secretKeyRef:
            name: crowdsec-db-creds
            key: password
  config:
    config.yaml.local: |
      db_config:
        type:     postgresql
        user:     ${DB_USER}
        password: ${DB_PASSWORD}
        db_name:  ${DB_NAME}
        host:     postgres-db-rw.postgres.svc.cluster.local
        port:     5432
      api:
        server:
          auto_registration: # Activate if not using TLS for authentication
            enabled: true
            token: "${REGISTRATION_TOKEN}"  # /!\ do not change
            allowed_ranges: # /!\ adapt to the pod IP ranges used by your cluster
              - "127.0.0.1/32"
              - "192.168.0.0/16"
              - "10.0.0.0/8"
              - "172.16.0.0/12"