apiVersion: v2
name: seerr
description: Custom helm wrapper for Jellyseerr Helm chart
dependencies:
  - name: seerr
    # Version from https://github.com/truecharts/public/blob/master/charts/stable/seerr/Chart.yaml
    version: "13.13.6"
    repository: oci://oci.trueforge.org/truecharts
  - name: common
    version: "0.0.1"
    repository: "file://../../library/common"
    import-values:
      - defaults
    # Other implicit dependencies are installed before this chart by fluxcd :
    # - external-secrets
    # - cloudnative-pg
version: 0.0.1
