kind: ConfigMap
apiVersion: v1
metadata:
  name: authentik-base-blueprints
  labels:
    goauthentik_blueprint: "1"
data:
  default_groups.yaml: |
    version: 1
    metadata:
      name: default-groups-blueprint
      labels:
        blueprints.goauthentik.io/description: |
          This blueprint configures provisioned groups

    # User groups
    entries:
      ## Users which can add medias
      - model: authentik_core.group
        state: present
        identifiers:
          name: "Media Admins"
        attrs:
          name: "Media Admins"
          parent: !Find [authentik_core.group, [name, "authentik Admins"]]
        id: media-admins-group
      ## Users that only have access to media apps
      - model: authentik_core.group
        state: present
        identifiers:
          name: "Media Users"
        attrs:
          name: "Media Users"
          parent: !Find [authentik_core.group, [name, "Media Admins"]]
        id: media-users-group
      ## Users which can manage drive service
      - model: authentik_core.group
        state: present
        identifiers:
          name: "Drive Admins"
        attrs:
          name: "Drive Admins"
          parent: !Find [authentik_core.group, [name, "authentik Admins"]]
        id: drive-admins-group
      ## Users which can use the drive service
      - model: authentik_core.group
        state: present
        identifiers:
          name: "Drive Users"
        attrs:
          name: "Drive Users"
          parent: !Find [authentik_core.group, [name, "Drive Admins"]]
        id: drive-users-group
      ## Default group
      - model: authentik_core.group
        state: present
        identifiers:
          name: "Users"
        # attrs:
        #   is_superuser: false
        id: users-group

  proxy_auth_groups_association.yaml: |
    version: 1
    metadata:
      name: "authentik-outpost-proxy-association"

    entries:
      - model: authentik_outposts.outpost
        identifiers: 
          pk: !Find [ authentik_outposts.outpost, [name, authentik Embedded Outpost]] 
        attrs:  
          providers:
            - !Find [authentik_providers_proxy.proxyprovider, [name, cyberchef]]
            - !Find [authentik_providers_proxy.proxyprovider, [name, sonarr]]
            - !Find [authentik_providers_proxy.proxyprovider, [name, radarr]]
            - !Find [authentik_providers_proxy.proxyprovider, [name, radarr4k]]
            - !Find [authentik_providers_proxy.proxyprovider, [name, prowlarr]]
            - !Find [authentik_providers_proxy.proxyprovider, [name, lidarr]]
            - !Find [authentik_providers_proxy.proxyprovider, [name, qbittorrent]]
            - !Find [authentik_providers_proxy.proxyprovider, [name, jdownloader2]]
          config:
            authentik_host: "https://${SUBDOMAIN}.${DOMAIN_WEBSECURE}"

  # From enrollmennt (2 stage) example : https://github.com/goauthentik/authentik/blob/main/blueprints/example/flows-enrollment-2-stage.yaml
  enrollment_for_invitation.yaml: |
    version: 1
    metadata:
      labels:
        blueprints.goauthentik.io/description: |
          This blueprint configures the enrollment stage for invitations
      name: Enrollment (2 Stage)
    entries:
      - identifiers:
          slug: default-enrollment-flow
        model: authentik_flows.flow
        id: flow
        attrs:
          name: Default enrollment Flow
          title: Welcome to authentik!
          designation: enrollment
          authentication: require_unauthenticated
      - id: prompt-field-username
        model: authentik_stages_prompt.prompt
        identifiers:
          name: default-enrollment-field-username
        attrs:
          field_key: username
          label: Username
          type: username
          required: true
          placeholder: Username
          placeholder_expression: false
          order: 0
      - identifiers:
          name: default-enrollment-field-password
        id: prompt-field-password
        model: authentik_stages_prompt.prompt
        attrs:
          field_key: password
          label: Password
          type: password
          required: true
          placeholder: Password
          placeholder_expression: false
          order: 0
      - identifiers:
          name: default-enrollment-field-password-repeat
        id: prompt-field-password-repeat
        model: authentik_stages_prompt.prompt
        attrs:
          field_key: password_repeat
          label: Password (repeat)
          type: password
          required: true
          placeholder: Password (repeat)
          placeholder_expression: false
          order: 1
      - identifiers:
          name: default-enrollment-field-name
        id: prompt-field-name
        model: authentik_stages_prompt.prompt
        attrs:
          field_key: name
          label: Name
          type: text
          required: true
          placeholder: Name
          placeholder_expression: false
          order: 0
      - identifiers:
          name: default-enrollment-field-email
        id: prompt-field-email
        model: authentik_stages_prompt.prompt
        attrs:
          field_key: email
          label: Email
          type: email
          required: true
          placeholder: Email
          placeholder_expression: false
          order: 1
      - identifiers:
          name: default-enrollment-prompt-second
        id: default-enrollment-prompt-second
        model: authentik_stages_prompt.promptstage
        attrs:
          fields:
            - !KeyOf prompt-field-name
            - !KeyOf prompt-field-email
      - identifiers:
          name: default-enrollment-prompt-first
        id: default-enrollment-prompt-first
        model: authentik_stages_prompt.promptstage
        attrs:
          fields:
            - !KeyOf prompt-field-username
            - !KeyOf prompt-field-password
            - !KeyOf prompt-field-password-repeat
      - identifiers:
          name: default-enrollment-user-login
        id: default-enrollment-user-login
        model: authentik_stages_user_login.userloginstage
      - identifiers:
          name: default-enrollment-user-write
        id: default-enrollment-user-write
        model: authentik_stages_user_write.userwritestage
        attrs:
          user_creation_mode: always_create
          user_type: internal
      - identifiers:
          target: !KeyOf flow
          stage: !KeyOf default-enrollment-prompt-first
          order: 10
        model: authentik_flows.flowstagebinding
      - identifiers:
          target: !KeyOf flow
          stage: !KeyOf default-enrollment-prompt-second
          order: 11
        model: authentik_flows.flowstagebinding
      - identifiers:
          target: !KeyOf flow
          stage: !KeyOf default-enrollment-user-write
          order: 20
        model: authentik_flows.flowstagebinding
      - identifiers:
          target: !KeyOf flow
          stage: !KeyOf default-enrollment-user-login
          order: 100
        model: authentik_flows.flowstagebinding

  invitation_stage.yaml: |
    version: 1
    metadata:
      name: "authentik-default-invitation-stage"
      labels:
        blueprints.goauthentik.io/description: |
          This blueprint configures the default invitation stage

    entries:
      - model: authentik_stages_invitation.invitationstage
        identifiers:
          name: default-invitation-stage
        id: default-invitation-stage
      - identifiers:
          order: 10
          stage: !KeyOf default-invitation-stage
          target: !Find [authentik_flows.flow, [slug, default-enrollment-flow]]
        model: authentik_flows.flowstagebinding
