---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/refs/heads/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: metrics-server
spec:
  releaseName: metrics-server
  chartRef:
    kind: OCIRepository
    name: metrics-server
  interval: 50m
  install:
    remediation:
      retries: 3
  values:
    # https://github.com/kubernetes-sigs/metrics-server/blob/master/charts/metrics-server/values.yaml
    replicas: 2
    
    updateStrategy:
      type: RollingUpdate
      rollingUpdate:
        maxSurge: 0
        maxUnavailable: 1

    podDisruptionBudget:
      enabled: false
      minAvailable: 1

    metrics:
      enabled: true

    topologySpreadConstraints:
      # Maximum 1 pod per Proxmox hypervisor
      - maxSkew: 1
        topologyKey: topology.kubernetes.io/zone
        whenUnsatisfiable: ScheduleAnyway
        labelSelector:
          matchLabels:
            app.kubernetes.io/name: metrics-server
      # Maximum 1 pod per node. If only one worker remains, then only one replica is enough
      - maxSkew: 1
        topologyKey: kubernetes.io/hostname
        whenUnsatisfiable: DoNotSchedule
        labelSelector:
          matchLabels:
            app.kubernetes.io/name: metrics-server
