apiVersion: v2
name: stirlingpdf
description: Custom helm wrapper for Stirling-PDF Helm chart
dependencies:
  - name: stirling-pdf-chart
    version: &version "2.2.0"
    repository: https://stirling-tools.github.io/Stirling-PDF-chart
    alias: stirlingpdf
  - name: common
    version: "0.0.1"
    repository: "file://../../library/common"
    import-values:
      - defaults
    # Other implicit dependencies are installed before this chart by fluxcd :
    # - external-secrets
    # - cloudnative-pg
version: *version
