image:
  repository: ghcr.io/muety/wakapi
  pullPolicy: IfNotPresent
  tag: "2.16.0@sha256:9d408a07c5e4dacaaadd745a695aabddb68d03c513b17a95a0eb988f3de1c320"

config:
  port: 3000
  db:
    host: localhost
    port: 5432
    name: wakapi
    user: wakapi
  public_url: http://localhost:3000
  insecure_cookies: false
  allow_signup: true
  export_metrics: false

resources:
  requests:
    cpu: 10m
    memory: 30Mi
  limits:
    cpu: 100m
    memory: 100Mi

backupLabel:
  homelab/backup-resource: "true"