image:
  repository: ghcr.io/muety/wakapi
  pullPolicy: IfNotPresent
  tag: "2.17.0@sha256:c75fd26fb3265eb5325ac46ef7e0c954becdc76db3291f449840b7d04dfcec3a"

config:
  port: 3000
  db:
    host: localhost
    port: 5432
    name: wakapi
    user: wakapi
  public_url: http://localhost:3000
  insecure_cookies: false
  allow_signup: true
  export_metrics: false

resources:
  requests:
    cpu: 10m
    memory: 30Mi
  limits:
    cpu: 100m
    memory: 100Mi

backupLabel:
  homelab/backup-resource: "true"