---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/refs/heads/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: gitea
spec:
  releaseName: gitea
  dependsOn:
    - name: ${APP}-oidc
  chartRef:
    kind: OCIRepository
    name: gitea
  interval: 50m
  install:
    createNamespace: true
    remediation:
      retries: 3
  valuesFrom:
    - kind: Secret
      name: gitea-oidc-authentik-application
      valuesKey: clientID
      targetPath: gitea.oauth[0].key
    - kind: Secret
      name: gitea-oidc-authentik-application
      valuesKey: clientSecret
      targetPath: gitea.oauth[0].secret
  postRenderers:
    - kustomize:
        patches:
          - patch: |-
              - op: add
                path: /spec/template/spec/hostAliases
                value:
                  - ip: "${traefik_lb_ip}"
                    hostnames:
                    - "${auth_subdomain}.${main_domain}"
                    - "${second_domain}"
            target:
              kind: Deployment
              name: gitea
              annotationSelector: homelab/use-local-dns=true
  values:
    resources:
      limits:
        cpu: 1000m
        memory: 512Mi
      requests:
        cpu: 100m
        memory: 512Mi

    deployment:
      annotations:
        homelab/use-local-dns: ${quote}${patch_dns:=false}${quote}

    gitea:
      metrics:
        enabled: true
        serviceMonitor:
          enabled: true
      additionalConfigSources:
        - configMap:
            name: gitea-app-ini
        # - secret:
        #     name: gitea-app-ini-secret

      # Sensitive credentials generated by other resources (psql, minio, gitea oauth...)
      additionalConfigFromEnvs:
        - name: GITEA__STORAGE__MINIO_ACCESS_KEY_ID
          valueFrom:
            secretKeyRef:
              name: ${S3_USER}-s3user
              key: accessKey
        - name: GITEA__STORAGE__MINIO_SECRET_ACCESS_KEY
          valueFrom:
            secretKeyRef:
              name: ${S3_USER}-s3user
              key: secretKey
        - name: GITEA__DATABASE__PASSWD
          valueFrom:
            secretKeyRef:
              name: ${APP}-db-creds
              key: password
      oauth:
        - name: "Authentik"
          provider: "openidConnect"
          # Existing secret contains key: as accessKey and secret: as secretKey
          # existingSecret: gitea-oauth-secret
          # key:  # Filled by fluxcd
          # secret:   # Filled by fluxcd
          autoDiscoverUrl: "https://${auth_subdomain}.${main_domain_websecure}/application/o/${APP}/.well-known/openid-configuration"

    # TODO : check signing (trust-manager ?)
    # https://gitea.com/gitea/helm-chart/#configure-commit-signing
    # signing:
    #   enable: true
    #   existingSecret: gitea-gpg-secret

    persistence:
      enabled: false

    # Disable embedded postgresql
    postgresql:
      enabled: false
    postgresql-ha:
      enabled: false
    # Disable embedded valkey
    valkey-cluster:
      enabled: false