apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../base/testapp
  - ../base/qbittorrent
  - ../base/sonarr
  - ../base/radarr
  - ../base/radarr4k
  - ../base/lidarr
  - ../base/prowlarr
  - ../base/vaultwarden
  - ../base/wakapi
  - ../base/outline
  - ../base/stirlingpdf
  - ../base/cyberchef
  - ../base/jellyseerr
  - ../base/jellystat
  - ../base/paperless-ngx
  - ../base/seafile
  - ../base/jdownloader
  - ../base/kavita
  - ../base/suwayomi
  - ../base/immich
  - ../base/jellyfin
  - ../base/minio
  - ../base/opencloud
  - ../base/legacyapps
patches:
  - target:
      kind: HelmRelease
      name: jellyfin
      namespace: jellyfin
    patch: |-
      - op: add
        path: /spec/values/resources/limits
        value:
          nvidia.com/gpu: 1
      # Patchception to patch the helmrelease, which patches the deployment
      - op: add
        path: /spec/postRenderers
        value:
          - kustomize:
              patches:
                - target:
                    version: v1
                    kind: Deployment
                    name: jellyfin
                  patch: |-
                    - op: replace
                      path: /spec/template/spec/affinity
                      value:
                        nodeAffinity:
                          requiredDuringSchedulingIgnoredDuringExecution:
                            nodeSelectorTerms:
                            - matchExpressions:
                              - key: nvidia.com/gpu.present
                                operator: In
                                values: ["true"]
                        podAffinity:
                          requiredDuringSchedulingIgnoredDuringExecution:
                            - labelSelector:
                                matchExpressions:
                                  - key: truecharts.org/pvc
                                    operator: In
                                    values: ["config"]
                              topologyKey: kubernetes.io/hostname
  - target:
      kind: HelmRelease
      name: immich
      namespace: immich
    patch: |-
      - op: add
        path: /spec/values/workload/machinelearning/podSpec/containers/machinelearning/resources/limits
        value:
          nvidia.com/gpu: 1
      # Patchception to patch the helmrelease, which patches the deployment
      - op: add
        path: /spec/postRenderers
        value:
          - kustomize:
              patches:
                - target:
                    version: v1
                    kind: Deployment
                    name: immich-machinelearning
                  patch: |-
                    - op: replace
                      path: /spec/template/spec/affinity
                      value:
                        nodeAffinity:
                          requiredDuringSchedulingIgnoredDuringExecution:
                            nodeSelectorTerms:
                            - matchExpressions:
                              - key: nvidia.com/gpu.present
                                operator: In
                                values: ["true"]