---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: monitoring
resources:
  - ./namespace.yaml
  - ./grafana/ks.yaml
  - ./victoriametrics-operator/ks.yaml
transformers:
  - ./transformers
components:
  - ../../../common/components/repos/authentik-application