apiVersion: v2
name: sonarr
description: Custom helm wrapper for Sonarr Helm chart
dependencies:
  - name: sonarr
    # Version from https://github.com/truecharts/public/blob/master/charts/stable/sonarr/Chart.yaml
    version: "24.12.5"
    repository: oci://oci.trueforge.org/truecharts
  - name: common
    version: "0.0.1"
    repository: "file://../../library/common"
    import-values:
      - defaults
    # Other implicit dependencies are installed before this chart by fluxcd :
    # - external-secrets
    # - cloudnative-pg
version: 0.0.1
