namespaces:
  postgresNamespace: &psqlNs postgres

ingress:
  domain: tv.example.com
  externalUrl: http://tv.example.com

sonarr:
  # see https://github.com/truecharts/public/blob/master/charts/stable/sonarr/values.yaml
  # see documentation https://truecharts.org/charts/stable/sonarr/
  waitPsqlImage:
    repository: docker.io/library/busybox
    tag: latest
    pullPolicy: IfNotPresent

  securityContext:
    pod:
      fsGroup: 1000
    container:
      runAsUser: 1000
      runAsGroup: 1000

  resources:
    limits:
      cpu: 500m
      memory: 250Mi
    requests:
      cpu: 20m
      memory: 100Mi
  workload:
    main:
      strategy: RollingUpdate
      rollingUpdate:
        maxUnavailable: 0
        maxSurge: 1
      annotations:
        # Reload pod on secret change
        secret.reloader.stakater.com/reload: "sonarr-db-creds" 
      podSpec:
        initContainers:
          waitpsql:
            enabled: true
            type: init
            imageSelector: waitPsqlImage
            command: ['sh', '-c', 'until nc -vz ${POD_NAME}.${POD_NAMESPACE}.svc.cluster.local 5432; do echo "Waiting for postgres..."; sleep 3; done;']
            env:
              POD_NAME: postgres-db-rw # service name for psql rw operations
              POD_NAMESPACE: *psqlNs
        containers:
          main:
            env:
              SONARR__AUTH__APIKEY:
                secretKeyRef:
                  name: sonarr-api-key
                  key: secretKey
                  expandObjectName: false
              SONARR__AUTH__METHOD: External
              SONARR__APP__INSTANCENAME: Sonarr
              SONARR__APP__THEME: dark
              SONARR__AUTH__REQUIRED: DisabledForLocalAddresses
              SONARR__LOG__LEVEL: info
              SONARR__UPDATE__BRANCH: develop
              SONARR__POSTGRES__HOST: postgres-db-rw.postgres.svc.cluster.local
              SONARR__POSTGRES__PORT: "5432"
              SONARR__POSTGRES__USER: sonarr
              SONARR__POSTGRES__PASSWORD:
                secretKeyRef:
                  name: sonarr-db-creds
                  key: password
                  expandObjectName: false
              SONARR__POSTGRES__MAINDB: sonarr-main
              SONARR__POSTGRES__LOGDB: sonarr-log
          exportarr:
            env:
              API_KEY:
                secretKeyRef:
                  name: sonarr-api-key
                  key: secretKey
                  expandObjectName: false
  persistence:
    config:
      enabled: true
      type: emptyDir
    downloads:
      enabled: true
      type: nfs
      server: # Complete with nfs server
      path: # Complete with nfs path
      mountPath: /downloads
    media:
      enabled: true
      type: nfs
      server: # Complete with nfs server
      path: # Complete with nfs path
      mountPath: /tv
  metrics:
    main:
      enabled: true