apiVersion: source.toolkit.fluxcd.io/v1
kind: GitRepository
metadata:
  name: piraeus-operator
  namespace: flux-system
spec:
  interval: 10m
  ref:
    # renovate: datasource=github-tags depName=piraeusdatastore/piraeus-operator extractVersion=^(?<version>.+)$
    tag: v2.10.0
  url: http://github.com/piraeusdatastore/piraeus-operator
---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: piraeus-crds
  namespace: flux-system
spec:
  interval: 10m
  path: ./config/crd
  prune: true
  sourceRef:
    kind: GitRepository
    name: piraeus-operator