apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../base/testapp
  - ../base/qbittorrent
  - ../base/sonarr
  - ../base/radarr
  - ../base/radarr4k
  - ../base/lidarr
  - ../base/prowlarr
  - ../base/vaultwarden
  - ../base/wakapi
  - ../base/outline
  - ../base/stirlingpdf
  - ../base/cyberchef
  - ../base/jellyseerr
  - ../base/jellystat
  - ../base/paperless-ngx
  # - ../base/seafile
  - ../base/jdownloader
  - ../base/kavita
  - ../base/suwayomi
  - ../base/immich
  - ../base/jellyfin
  - ../base/minio
  - ../base/opencloud
patches:
  # Reduce PVC sizes
  # We also change the storageclass to non-ha in this scenario
  - target:
      kind: HelmRelease
      name: kavita
      namespace: media
    patch: |-
      - op: replace
        path: /spec/values/persistence/config/size
        value: 500Mi
      - op: replace
        path: /spec/values/persistence/config/storageClass
        value: ${fastdata_storage}
  - target:
      kind: HelmRelease
      name: immich-db
      namespace: immich
    patch: |-
      - op: replace
        path: /spec/values/storage/size
        value: 5Gi
      - op: replace
        path: /spec/values/storage/persistentClassName
        value: ${fastdata_storage}
  - target:
      kind: HelmRelease
      name: jellyseerr
      namespace: media
    patch: |-
      - op: replace
        path: /spec/values/jellyseerr/persistence/config/storageClass
        value: ${fastdata_storage}
  - target:
      kind: HelmRelease
      name: qbittorrent
      namespace: media
    patch: |-
      - op: replace
        path: /spec/values/persistence/config/storageClass
        value: ${fastdata_storage}
  - target:
      kind: HelmRelease
      name: suwayomi
      namespace: media
    patch: |-
      - op: replace
        path: /spec/values/persistence/appdata/storageClass
        value: ${fastdata_storage}
