{{- $secretName := include "common.db.secret-name" (dict "DatabaseUser" .Values.database.user )}}
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: {{ $secretName }}
  namespace: {{ .Release.Namespace }}
spec:
  data:
    - secretKey: username
      remoteRef:
        key: {{ $secretName }}
        property: username
    - secretKey: password
      remoteRef:
        key: {{ $secretName }}
        property: password
  refreshInterval: 5m
  secretStoreRef:
    kind: ClusterSecretStore
    name: {{ .Values.database.postgres.clusterSecretName }}
  target:
    name: {{ $secretName }}
    creationPolicy: Owner
    deletionPolicy: Retain
    template:
      data:
        SYSTEM_DATASOURCE_ENABLECUSTOMDATABASE: "true"
        SYSTEM_DATASOURCE_USERNAME: '{{ `{{ .username }}` }}'
        SYSTEM_DATASOURCE_PASSWORD: '{{ `{{ .password }}` }}'
        SYSTEM_DATASOURCE_CUSTOMDATABASEURL: 'jdbc:postgresql://postgres-db-rw.{{ .Values.namespaces.postgresNamespace }}.svc.cluster.local:5432/{{ .Values.database.databaseName }}'
      engineVersion: v2