apiVersion: v2
name: outline
description: Custom helm wrapper for Outline Helm chart
dependencies:
  - name: outline
    # Version from https://github.com/truecharts/public/blob/master/charts/stable/outline/Chart.yaml
    version: "16.25.2"
    repository: oci://tccr.io/truecharts
  - name: common
    # renovate: datasource=local-dependency
    version: "0.0.1"
    repository: "file://../../library/common"
    import-values:
      - defaults
    # Other implicit dependencies are installed before this chart by fluxcd :
    # - external-secrets
    # - cloudnative-pg
    # - redis
    # - s3-operator
version: 0.0.1
appVersion: 0.81.1
