{{- $secretName := include "common.db.secret-name" (dict "DatabaseUser" .Values.database.user )}}
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: {{ $secretName }}
  namespace: {{ .Release.Namespace }}
spec:
  data:
    - secretKey: username
      remoteRef:
        key: {{ $secretName }}
        property: username
    - secretKey: password
      remoteRef:
        key: {{ $secretName }}
        property: password
  refreshInterval: 5m
  secretStoreRef:
    kind: ClusterSecretStore
    name: {{ .Values.database.postgres.clusterSecretName }}
  target:
    name: {{ .Values.vaultwarden.workload.main.podSpec.containers.main.env.DATABASE_URL.secretKeyRef.name }}
    creationPolicy: Owner
    deletionPolicy: Retain
    template:
      data:
        # We need to escape .username and .password as they would be interpreted by Helm
        connectionUrl: 'postgresql://{{ `{{ .username }}` }}:{{ `{{ .password }}` }}@postgres-db-rw.{{ .Values.namespaces.postgresNamespace }}.svc.cluster.local:5432/{{ .Values.database.databaseTable }}'
      engineVersion: v2