kind: ConfigMap
apiVersion: v1
metadata:
  name: base-config
  namespace: {{ .Release.Namespace }}
  labels:
    goauthentik_blueprint: "1"
data:
  default_groups.yaml: |
    version: 1
    metadata:
      name: default-groups-blueprint
      labels:
        blueprints.goauthentik.io/description: |
          This blueprint configures provisioned groups

    # User groups
    entries:
      ## Users which can add medias
      - model: authentik_core.group
        state: present
        identifiers:
          name: "Media Admins"
        attrs:
          name: "Media Admins"
          parent: !Find [authentik_core.group, [name, "authentik Admins"]]
        id: media-admins-group
      ## Users that only have access to media apps
      - model: authentik_core.group
        state: present
        identifiers:
          name: "Media Users"
        attrs:
          name: "Media Users"
          parent: !Find [authentik_core.group, [name, "Media Admins"]]
        id: media-users-group
      - model: authentik_core.group
        state: present
        identifiers:
          name: "Users"
        # attrs:
        #   is_superuser: false
        id: users-group
