apiVersion: v2
name: prowlarr
description: Custom helm wrapper for Prowlarr Helm chart
dependencies:
  - name: prowlarr
    # Version from https://github.com/truecharts/public/blob/master/charts/stable/prowlarr/Chart.yaml
    version: "20.12.3"
    repository: oci://tccr.io/truecharts
  - name: common
    version: "0.0.1"
    repository: "file://../../library/common"
    import-values:
      - defaults
    # Other implicit dependencies are installed before this chart by fluxcd :
    # - external-secrets
    # - cloudnative-pg
version: 0.0.1
